body {
	background-color:pink;
	color: #555;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin:0;
}
.container{
	width:80%;
	margin:auto;
	overflow: hidden;

}

.button{
	background-color: #444;
	color:#fff;
	padding:15px 20px;
	border:none;

}

#main-header{
	background-color: #333;
	color: #fff;
	border-right:5px red solid;
	border-left:5px red solid;
}

#navbar{
background-color: #333;
color: #fff;
}
#navbar ul{
	padding:0;
	list-style: none;
}
#navbar a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	padding-right:15px;
}
#sidebar{
	float: right;
	width: 35%;
	background-color:lightskyblue);
	color: #fff;
	padding: 0 10px;
	box-sizing: border-box;
}

#main-footer{
	background: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
	margin-top: 40px;	
}

.container.form-group{
	padding: bottom 15px;
	display: block;
}
